@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite';
body {
	height: 100vh;
	background-color: rgba(38, 55, 77, 255);
}

:root {
    --text-font-size: 16px; /* Default size */
}

body {
    font-size: var(--text-font-size); /* Apply the global font size for text */
}

/* Adjust text size only for text elements */
h1, h2, h3, h4, h5, h6, p, span, li {
    font-size: var(--text-font-size);
}

button, label, select {
    font-size: var(--text-font-size);
}